<h1 style="text-align: center;">Sign Up!</h1>

<form action="/users/create" method="POST" style="text-align: center;">
    NAME: <input type="text" name="name" placeholder="your name" required><br><br>
    EMAIL: <input type="email" name="email" placeholder="your email" required><br><br>
    PASSWORD: <input type="password" name="password" placeholder="password" required><br><br>
    CONFIRM PASSWORD: <input type="password" name="confirm_password" placeholder="Confirm password" required><br><br>
    <input type="submit" value="sign up">
</form>

<p>
    <a href="/users/auth/google">Google sign in/sign up</a>
</p>