header {
  height: 40px;
  background-color: #1a7d98; }
  header #main {
    display: flex;
    justify-content: space-between; }
    header #main h2 {
      margin-top: 10px;
      margin-left: 10px;
      font-family: sans-serif;
      color: white; }
    header #main a {
      text-decoration: none;
      color: white; }
    header #main div {
      font-size: 20px;
      margin: 10px 10px 0 0;
      font-family: sans-serif; }
